button{
	background-color: rgb(128, 128, 128);
	color: rgb(255, 255, 255);
	width: 300px;
	height: 300px;
	padding: 60px;
	margin: 80px 160px;
	font-size: 40px;
	font-weight: 500;
	
}

.content {
/*	margin: auto;*/
	display: flex;
/*	justify-content: center;*/
display: flex;
}

.content1{
	margin-right: -150px;
	margin-left: 100px;
	text-align:center;
	flex: 1;
}

.content2{
	margin-left: -150px;
	margin-right: 100px;
	text-align:center;
	flex: 1;
}