@charset "UTF-8";

.admin-user {
	padding-top: 80px;
}

table {
	text-align: center;
	margin: 20px auto;
	width: auto;
}

.id {
	width: 80px;
}
.id1 {
	font-size: 22px;
}

.name {
	width: 120px;
}
.name1 {
	font-size: 22px;
}

.address {
	width: 300px;
}

.address1 {
	font-size: 22px;
}

.tel {
	width: 150px;
}
.tel1 {
	font-size: 22px;
}

.email {
	width: 120px;
}
.email1 {
	font-size: 22px;
}

.birthday {
	width: 160px;
}
.birthday1 {
	font-size: 22px;
}

.open{
	width: 65px;
}
.open1{
	font-size: 20px;
}

button {
	width: 60px;
	height: auto;
	background-color: rgb(128, 128, 128);
	border-color: rgb(128, 128, 128);
	color: white;
	margin: auto 0;
	font-size: 20px;
	border-radius: 5px;
	border-width: 2px;
	align-self: center;
}

button:hover {
	background-color: white;
	color: rgb(128, 128, 128);
	transition: .4s;
}

th {
	background-color: rgb(128, 128, 128);
	color: white;
	font-size: 20px;
}

td {
	padding: 5px;
}

/*戻るボタン*/
.return {
	position: fixed;
	bottom: 30px;
	left: 30px;
	/*	justify-content: flex-end*/
	/*	margin:50px*/
}

/*検索*/
.content {
	position: fixed;
	top: 25px;
	right: 10px;
	z-index: 100;
}

.content button {
	background-color: white;
	border-color: white;
	color: black;
	border-radius: 5px;
	border-width: 2px;
	transition: .4s;
	font-size: 14px;
}

.content button:hover {
	background-color: rgb(128, 128, 128);
	color: white;
	transition: .4s;
	font-size: 14px;
}

.search {
	text-align: center;
}

.textarea {
	font-size: 16px;
	padding: 4px 0;
}

.error {
	color: red;
	margin: 10px auto;
	font-size: 18px;
	text-align: center;
}