@charset "UTF-8";

.content {
	text-align: center;
	margin: auto;
	width: 900px;
	height: auto;
}

.id {
	width: 65px;
}

.name {
	width: 100px;
}

.address{
	width: 200px;
}

.tel{
	width: 120px;
}

.email {
	width: 180px;
}

.birthday{
	width: 100px;
}

button {
	width: 60px;
	height: auto;
	padding: 5px 0;
	background-color: rgb(128, 128, 128);
	border-color: rgb(128, 128, 128);
	color:white;
	margin: auto 0;
	border: 1px solid black;
	font-size: 18px;
	border-radius: 5px;
	align-self: center;
}
button:hover{
	background-color: white;
		color:rgb(128, 128, 128);
		transition: .4s;
}

th {
	background-color: rgb(128, 128, 128);
	color: white;
}

/*戻るボタン*/
.return {
	position: fixed;
	bottom: 30px;
	left: 30px;
	/*	justify-content: flex-end*/
	/*	margin:50px*/
}

/*検索*/
.content2 {
	margin: 30px;
}

.search {
	width: 50px;
	height: 30px;
	position: relative; /* relativeを指定 */
	top: 6px; /* 上から10px移動 */
}

.textarea {
	width: 120px;
	height: 20px;
}

.error {
	color: red;
	margin: 0;
	padding: 0;
	font-size: 15px;
}