@charset "UTF-8";

.admin-user {
	padding-top: 80px;
}

table{
	font-size: 16px;
}

.content {
	text-align: center;
	margin: 20px auto;
	width: 900px;
	height: auto;
}

.id {
	width: 65px;
}

.name {
	width: 100px;
}

.address {
	width: 200px;
}

.tel {
	width: 120px;
}

.email {
	width: 180px;
}

.birthday {
	width: 100px;
}

button {
	width: 60px;
	height: auto;
	padding: 5px 0;
	background-color: rgb(128, 128, 128);
	border-color: rgb(128, 128, 128);
	color: white;
	margin: auto 0;
	font-size: 18px;
	border-radius: 5px;
	border-width: 2px;
	align-self: center;
}

button:hover {
	background-color: white;
	color: rgb(128, 128, 128);
	transition: .4s;
}

th {
	background-color: rgb(128, 128, 128);
	color: white;
}

/*戻るボタン*/
.return {
	position: fixed;
	bottom: 30px;
	left: 30px;
	/*	justify-content: flex-end*/
	/*	margin:50px*/
}

/*検索*/
.content2 {
	position: fixed;
	top: 25px;
	right: 10px;
	z-index: 100;
}

.content2 button {
	background-color: white;
	border-color: white;
	color: black;
	border-radius: 5px;
	border-width: 2px;
	transition: .4s;
	font-size: 14px;
}

.content2 button:hover {
	background-color: rgb(128, 128, 128);
	color: white;
	transition: .4s;
	font-size: 14px;
}

.search {
	text-align: center;
}

.textarea {
	font-size: 16px;
	padding: 4px 0;
}

.error {
	color: red;
	margin: 10px auto;
	font-size: 18px;
	text-align: center;
}