@charset "UTF-8";

.haikei {
	background-color: rgb(196, 188, 188);
}

.cc {
	display: table-cell;
	text-align: left;
}

.top {
	display: table-cell;
	text-align: center;
}

.haikei2 {
	padding: 2px 4px;
	color: rgb(0, 0, 0);
	line-height: 1.9;
	background: rgb(183, 201, 202);
	display: inline;
	-webit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.parent {
	display: flex;
}

.confirm {
	padding-top: 90px;
}

.confirm-page {
	width: 1050px;
	margin: 20px auto;
	text-align: center;
}

.confirm-form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 1050px;
	padding: 30px 45px 30px;
	text-align: center;
	border-radius: 30px;
	border: 2px solid black;
}

.img-form{
	width: 400px;
	height: 400px;
	border: 1px solid black;
	align-content: center;
	justify-items: center;
	border-radius: 30px;
	margin: 20px 0 0;
}

.img-form img{
	max-width: 300px;
	max-height: 300px
}

.item-form {
	width: 500px;
	margin: 0 0 0 50px;
}

.field-comment{
	text-align: start;
	background-color: #f2f2f2;
	height: 80px;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 18px;
}

.field-title{
	text-align: start;
	width: 150px;
	font-size: 18px;
}

.user-form{
	border: 1.5px solid black;
	padding: 0 15px;
	border-radius: 15px;
	margin: 0 0 20px;
}

.user-info .field{
	font-size: 18px;
}

.user-info{
	display: flex;
	margin: 15px 0;
	align-items: center;
}

.user-title {
	text-align: start;
	width: 155px;
	font-size: 18px;
}

.title {
	font-size: 30px;
	margin: 20px auto 10px;
}

.name{
	font-size: 46px;
	text-align: left;
}

.price{
	font-size: 32px;
	margin: 0 auto 10px;
	text-align: left;
}

.field {
	background-color: #f2f2f2;
	width: 100%;
	border: 0;
	padding: 15px;
	box-sizing: border-box;
	font-size: 18px;
}

body {
	text-align: center;
}


button {
	background-color: rgb(255, 80, 50);
	border-color: rgb(255, 80, 50);
	color: white;
	border-radius: 5px;
	padding: 5px;
	font-size: 20px;
	transition: .4s;
}

button:hover {
	background-color: white;
	color: rgb(255, 80, 50);
	transition: .4s;
}

footer {
	height: 50px;
}