@charset "UTF-8";

.edit-page {
	width: 450px;
	margin: auto;
	text-align: center;
}

.edit-form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 450px;
	margin: 30px auto 30px;
	padding: 30px 45px 45px;
	text-align: center;
	border-radius: 30px;
	border: 2px solid black;
}

.edit-form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.edit-form button {
	width: 100px;
	height: auto;
	padding: 5px 0;
	background-color: rgb(255, 80, 50);
	border-color: rgb(255, 80, 50);
	color: white;
	margin: 10px 0 0;
	border-radius: 5px;
	font-size: 18px;

	transition: .4s;
}

.edit-form button:hover {
	background-color: white;
	color: rgb(255, 80, 50);
	transition: .4s;
}

.edit-form .err {
	font-size: 14px;
	color: 16px;
	padding: 10px 0;
	color: red;
}

.title {
	font-size: 24px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input {
	text-align: center;
}

.cancel {
	justify-self: center;	
}

.cancel button {
	justify-self: center;
	background-color: rgb(255, 80, 50);
	border-color: rgb(255, 80, 50);
	color: white;
	margin: 0 0 15px;
	border-radius: 5px;
	padding: 5px 0;
	transition: .4s;
	text-align: center;
	font-size: 18px;
}

.cancel button:hover {
	background-color: white;
	color: rgb(255, 80, 50);
	transition: .4s;
	text-align: center;
}

footer{
	height: 50px;
}