@charset "UTF-8";


.regist-page {
	padding-top: 70px;
	width: 1050px;
	margin: auto;
	text-align: center;
}

.content {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;

	align-content: center;
}

.img_container {

	margin: 20px auto 30px auto;

	width: 400px;
	height: 400px;
	border: solid 1px black;
	border-radius: 30px;

	align-content: center;
}

#preview {
	width: 300px;
	height: 300px;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;

}


.regist-form {
	position: relative;
	z-index: 1;
	max-width: 100%;
	background: #FFFFFF;
	margin: 30px auto 30px;
	padding: 30px 45px 45px;
	text-align: center;
	border-radius: 30px;
	border: 2px solid black;
}

.regist-form .input-text {
	outline: 0;
	background: #f2f2f2;
	width: 500px;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
}

.regist-form button {
	width: 100px;
	height: auto;
	padding: 5px 0;
	background-color: rgb(255, 80, 50);
	border-color: rgb(255, 80, 50);
	color: white;
	margin: 10px 0 0;
	border-radius: 5px;
	font-size: 18px;
}

.regist-form button:hover {
	background-color: white;
	color: rgb(255, 80, 50);
	transition: .4s;
}

.regist-form .err {
	font-size: 14px;
	color: 16px;
	padding: 10px 0;
	color: red;
}

.regist-form .radio {
	background-color: #f2f2f2;
	width: 470px;
	padding: 15px;
	margin: 0 0 15px;
	justify-self: center;
}

.regist-form textarea {
	background-color: #f2f2f2;
	width: 470px;
	padding: 15px;
	margin: 0 0 15px;
	justify-self: center;
	resize: vertical;
	border: none;
	text-align: center;
}

.title {
	font-size: 24px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.price_container {
	position: relative;
	background: #f2f2f2;
	width: 500px;
	justify-self: center;

	text-align: center;
}

.unit {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 100px;
}

.price_container input {
	margin-bottom: 0 !important;
}

#import_image {
	display: none;
	background-color: #f2f2f2;
	align-items: center;
	width: 300px;
}

#select_file {
	width: 120px;
	height: 30px;
	background-color: rgb(255, 80, 50);
	border-color: rgb(255, 80, 50);
	color: white;
	border-radius: 5px;
	font-size: 15px;
}

#select_file:hover {

	background-color: white;
	color: rgb(255, 80, 50);
	transition: .4s;
}