@charset "UTF-8";

h2 {
	text-align: center;
}


#child1 {
	background-color: lightblue;
	border-radius:30px;
}

#child2 {
	background-color: rgb(255, 255, 255);
}

@media (min-width: 600px) {
	#parent {
		display: flex;
	}

	#child1 {
		margin:30px 30px;
		flex: 3;
		height: 400px;

		align-items: center;
		text-align: center;
	}

	#child2 {
		flex: 1;
		height: 400px;

				display: flex;
				justify-content: center;
/*				 水平方向の中央揃え */
				align-items: center;
	}
}


.button{
	margin:30px 30px;
	width: 200px;
	height: 200px;
	background-color: lightblue;
	border-radius:30px;
}
.location0 {
position: relative; /* 今の位置を基準 */
top: 5%; 
font-size:   30px;    /* 文字サイズ指定 */
}
.location1 {
position: relative; /* 今の位置を基準 */
top: 10%; 
font-size:   22px;    /* 文字サイズ指定 */
}
.location2 {
position: relative; /* 今の位置を基準 */
top: 15%; 
font-size:   22px;

}
.location3 {
position: relative; /* 今の位置を基準 */
top: 20%; 
font-size:   22px;

}
.center1{
	text-align: center;
	position: relative; /* 今の位置を基準 */
	top: 25%;
}