@charset "UTF-8";

h2 {
	text-align: center;
}

.profile {
	padding-top: 80px;
}

#child1 {
	background-color: white;
	border-radius: 30px;
	border: solid 2px black;

	margin: 0 30px 30px 30px;
	flex: 1;
	height: 680px;
	width: 400px;
	text-align: center;
}

#child2 {
	background-color: rgb(255, 255, 255);
	flex: 1;
	width: 100%;
	justify-content: center;
	/*				 水平方向の中央揃え */
}

.listing_box {
	height: auto;
	width: 700px;
	border-radius: 30px;
	text-align: center;
	border: solid 2px black;
}

#parent {
	display: flex;
}


.location0 {
	top: 10px;
	font-size: 24px;
	/* 文字サイズ指定 */
}

.location1 {
	justify-content: center;
}

.location2 {
	font-size: 20px;
}


.location4 {
	display: flex;
	justify-content: center;
	/* 水平方向の中央揃え */
	align-items: center;
}

#child1 {
	width: 300px;
}

.info_title {
	font-size: 24px;
	margin: 5px;
}

.info_lable {
	margin: 10px 0 0;
}

.info_data {
	background-color: #f2f2f2;
	font-size: 16px;
	outline: 0;
	border: 0;
	margin: 0 auto 15px;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	width: 350px;
}

table {
	text-align: center;
	margin: 0 auto 30px;
}

table th {
	background-color: white;
	color: rgb(255, 80, 50);
	font-size: 20px;
}

table td {
	height: 50px;
	padding: 0 5px;
}

.name {
	width: 200px;
}

.price {
	width: 100px;
}

.time {
	width: 100px;
}

.title {
	font-size: 30px;
	text-align: center;
	margin: 10px;
}

table button {
	margin: auto;
}

.delete_button {
	width: 70px;
	height: 30px;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
}

.delete_button:hover {
	background-color: white;
	color: rgb(255, 80, 50);
	transition: .4s;
}

.edit_link {
	text-decoration-line: none;
	color: white;

	justify-self: center;
	width: 100px;
	border: solid 1px black;
	border-radius: 5px;
	background-color: rgb(255, 80, 50);
	border-color: rgb(255, 80, 50);
	padding: 5px 10px;

	font-size: 12px;
}

.edit_link:hover {
	background-color: white;
	color: rgb(255, 80, 50);
	transition: .4s;
}

button {
	width: 100px;
	height: auto;
	padding: 5px 0;
	background-color: rgb(255, 80, 50);
	border-color: rgb(255, 80, 50);
	color: white;
	margin: 10px 0 0;
	font-size: 18px;
	border-radius: 5px;
	transition: .4s;
}

button:hover {
	background-color: white;
	color: rgb(255, 80, 50);
	transition: .4s;
	cursor: pointer;
}

.listing_button {
	width: 150px !important;
	height: 50px !important;

	font-size: 26px !important;
	position: relative;
	/* 今の位置を基準 */
	left: 260px;
	/* 右から150px */
}

.regist-form button {
	width: 70px;
}

.location3 button {
	width: 100px;
	height: auto;
	padding: 5px 0;
	background-color: rgb(255, 80, 50);
	border-color: rgb(255, 80, 50);
	color: white;
	margin: 20px 0 0;
	font-size: 18px;
	border-radius: 5px;
	transition: .4s;
}

.empty {
	font-size: 20px;
	margin: 20px auto;
}

#deleteDialog {
	width: 250px;
	height: 180px;
}

#removeDialog {
	width: 250px;
	height: 180px;
}

.dialog_content {
	position: relative;
	width: 100%;
	height: 85%;
	text-align: center;
	font-size: 20px;
}