@charset "UTF-8";

.regist-page {
	width: 450px;
	margin: auto;
	text-align: center;
}

.regist-form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 450px;
	margin: 30px auto 30px;
	padding: 30px 45px 45px;
	text-align: center;
	border-radius: 30px;
	border: 2px solid black;
}

.regist-form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.regist-form button {
	width: 100px;
	height: auto;
	padding: 5px 0;
	background-color: skyblue;
	color: black;
	margin: 10px 0 0;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 18px;
}

.regist-form .err {
	font-size: 14px;
	color: 16px;
	padding: 10px 0;
	color: red;
}

.title {
	font-size: 24px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
	-webkit-appearance: none;
	margin:0;
}

input[type="number"]{
	-moz-appearance: textfield;
}

