@charset "UTF-8";

.regist{
	padding-top: 90px;
}

.regist-page {
	width: 500px;
	margin: auto;
	text-align: center;
}

.regist-form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 500px;
	margin: 30px auto 10px;
	padding: 30px 45px 40px;
	text-align: center;
	border-radius: 30px;
	border: 2px solid black;
}

.regist-form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	padding: 15px;
	box-sizing: border-box;
	font-size: 18px;
}

.field-title{
	font-size: 16px;
	margin: 20px auto 5px;
}

button {
	padding: 5px;
	background-color: rgb(255, 80, 50);
	border-color: rgb(255, 80, 50);
	color: white;
	margin: 20px 0 0;
	border-radius: 5px;
	font-size: 20px;
}

button:hover {
	background-color: white;
	color: rgb(255, 80, 50);
	transition: .4s;
}

.regist-form .err {
	font-size: 16px;
	color: 16px;
	padding: 10px 0;
	color: red;
	height: 20px;
}

.title {
	font-size: 32px;
}

.link {
	text-align: center;
}


footer{
	height: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input {
	text-align: center;
}