@charset "UTF-8";

.item_container{
	width: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	
	justify-self: center;
}

.item{
	width: 150px;
	height: 150px;
	border: solid 2px black;
	
	text-align: center;
}